/* styles that apply to all pages */
@import url("typeface.css");

* {
  font-family: Plantin-Regular;
}

h1 {
  font-family: Gustavo-Bold;
  font-size: xx-large;
}

p {
  font-family: Gustavo-Regular;
  font-size: small;
  width: 50%;
}

button {
  display: inline-block;
  padding: 0.5em 3em 0.5em 3em;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Gustavo-Medium;
  text-align: center;
  transition: all 0.2s;
  word-spacing: 0.1em;
  letter-spacing: 0.07em;
  font-size: 0.75em;

  background-color: rgb(82, 82, 82);
  color: white;
}

input {
  display: inline-block;
  padding: 0.5em 3em 0.5em 3em;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Gustavo-Medium;
  text-align: center;
  transition: all 0.2s;
  word-spacing: 0.1em;
  letter-spacing: 0.07em;
  font-size: 0.75em;

  background-color: rgb(82, 82, 82);
  color: white;
}

button:hover {
  background-color: #efddff;
  color: rgb(82, 82, 82);
  transition: all 0.35s;
}

a {
  text-decoration: none;
  color: white;
}

input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

.conversation__container {
  color: white;
  margin-top: 30%;
  position: absolute;
}

#transcript__text {
  display: block;
  max-width: 140px;
  font-size: 0.6em;
  text-align: left;
  font-family: Plantin-Light-Italics;
}

.helpers__container {
  margin-top: 30%;
}

.microphone__container {
  width: 30%;
  max-height: 150px;
  background-color: #efddff;
  font-size: 0.7em;
}

.microphone__container button {
  font-size: 0.7em;
  width: 15em;
}

.helpers__container {
  background-color: #efddff;
  padding-top: 0.5em;
}

#name__input {
  padding-bottom: 0.5em;
}

#name__input :focus {
  outline: none;
}
