.landing__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(221, 240, 255);
  background-image: url("./images/static_landscape.png");
  background-size: cover;
  font-family: freight-text-pro, serif;
  font-weight: 300;
  font-style: italic;
  color: #4e4552;
}

.content__container {
  width: 35%;
  margin-top: 5vw;
  transform: skewY(10deg);
  /* for animation */
}

.title__text {
  font-size: 5vw;
  opacity: 0;
}

.landing__blurb {
  font-family: freight-text-pro, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.75vw;
  opacity: 0;
}

.landing__container form {
  opacity: 0;
}

input {
  border-radius: 5em;
  background-color: rgb(166, 194, 218);
  font-style: italic;
  padding-bottom: 1vw;
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.2);
}

button {
  background-color: bisque;
  opacity: 50%;
  border-radius: 50%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  color: #091024;
  background-image: url("./images/button_background.png");
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.3);
}

button:hover {
  opacity: 100%;
  transition: all 1s;
  color: #d5cfff;
}

#name__input {
  padding-bottom: 3.5vw;
}

#name__input :focus {
  outline: none;
}
