/******
 * Gustavo
 */

@font-face {
  font-family: Gustavo-Bold;
  src: url("./fonts/Gustavo-Bold.otf");
}

@font-face {
  font-family: Gustavo-Regular;
  src: url("./fonts/Gustavo-Regular.otf");
}

@font-face {
  font-family: Gustavo-Medium;
  src: url("./fonts/Gustavo-Medium.otf");
}

@font-face {
  font-family: Plantin-Regular;
  src: url("./fonts/PlantinMTProRg.TTF");
}

@font-face {
  font-family: Plantin-Light;
  src: url("./fonts/PlantinMTProLight.TTF");
}

@font-face {
  font-family: Plantin-Light-Italics;
  src: url("./fonts/PlantinMTProLightIt.TTF");
}
