#iphoneCutout {
  background-image: url("./images/iphone_cutout.png");
  background-size: cover;
}

.VUI_UI_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 38vw;
  font-family: freight-sans-pro, sans-serif;
}

.conversation__container {
  margin-top: 28vw;
  margin-left: 3%;
  position: absolute;
  max-width: 18vw;
}

.transcript__text__user {
  display: block;
  font-size: 0.9vw;
  text-align: left;
  font-family: freight-sans-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
  padding-bottom: 0.5vw;
  color: #e9e9ff;
  margin-left: 9vw;
  /* for animation 
  opacity: 0;*/
}

.transcript__text__vui {
  display: block;
  font-size: 0.9vw;
  text-align: left;
  font-family: freight-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 0.5vw;
  color: #d5cfff;
  max-width: 15vw;
  /* for animation 
  opacity: 0;*/
}

.helpers__container {
  margin-top: 30%;
}

.info__container {
  width: 20%;
  max-height: 150px;
  font-size: 1vw;
  background-color: #efddff;
  border-radius: 25px;
  margin-left: 50px;
  opacity: 80%;
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.1);
}

.script__container {
  width: 20%;
  font-size: 1vw;
  background-color: #efddff;
  border-radius: 25px;
  margin-left: 50px;
  margin-bottom: 5vw;
  opacity: 80%;
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.1);
}

.info__container p {
  color: #a98bc4;
  font-size: 1.2vw;
  font-style: italic;
}

.script__container span {
  padding-left: 1vw;
  text-align: left;
  color: #a98bc4;
  font-size: 1.2vw;
  font-family: freight-sans-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.script__container ol li {
  font-family: freight-sans-pro, sans-serif;
  font-size: 1vw;
  text-align: left;
  color: #a98bc4;
}

.info__container button {
  width: 10vw;
  font-style: italic;
  background-image: url("./images/button_background.png");
}

.helpers__container {
  background-color: #efddff;
  padding-top: 0.5vw;
}

.visualization {
  margin-top: 10vw;
  margin-left: 41%;
  position: absolute;
  width: 210px;
  height: 450px;
  border-radius: 2vw;

  opacity: 0;
}

#background {
  background-image: url("./visualization/MainBkg.png");
  background-size: cover;
}

#ripple {
  background-image: url("./visualization/Ripple2.png");
  background-size: cover;
}
