#iphoneCutout {
  /* background-image: url("./images/iphone_cutout_color.png"); */
}

#VUI_UI_container {
  margin-left: 17vw;
  font-family: freight-sans-pro, sans-serif;
}

.conversation__container {
  margin-top: 20vw;
  max-width: 18vw;
}

.transcript__text__user {
  display: block;
  font-size: 0.9vw;
  text-align: left;
  font-family: freight-sans-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
  padding-bottom: 0.5vw;
  color: #e9e9ff;
}

.transcript__text__vui {
  display: block;
  font-size: 0.9vw;
  text-align: left;
  font-family: freight-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 0.5vw;
  color: #d5cfff;
  max-width: 15vw;
}

.helpers__container {
  margin-top: 30%;
}

#info__container {
  font-size: 1vw;
  text-align: left;
}

#info__content {
  max-width: 70%;
  padding-left: 2vw;
}

#info__container h1 {
  font-style: italic;
  font-size: 2.5vw;
}

#info__container h2 {
  font-style: italic;
}

#info__container p {
  font-family: freight-sans-pro, sans-serif;
  font-size: 1.5vw;
}

.helpers__container {
  background-color: #efddff;
  padding-top: 0.5vw;
}

.visualization {
  margin-top: 10vw;
  margin-left: 41%;
  position: absolute;
  width: 210px;
  height: 450px;
  border-radius: 2vw;

  opacity: 0;
}

#background {
  background-image: url("./visualization/MainBkg.png");
  background-size: cover;
}

#ripple {
  background-image: url("./visualization/Ripple2.png");
  background-size: cover;
}

.instruction__text {
  display: block;
  font-family: freight-sans-pro, sans-serif;
  font-size: 1.5vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  color: #c7c5d6;
}

#instructions__texts :first-child {
  color: black;
}

#instructions__container {
  margin-top: 3vw;
}

#manual__helper {
  padding-top: 1vw;
}

#manual__helper h2 {
  font-family: freight-sans-pro, sans-serif;
  font-style: normal;
}

#highlight__text {
  font-family: freight-text-pro, serif;
  font-style: italic;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

#manual__helper p {
  font-size: 1vw;
}
